<mat-toolbar color="acent">
  <mat-toolbar-row>
  <span>My Toolbar</span>
    <span class="spacer"></span>
    <button mat-button class="logoutBtn" (click)="logoutBtn()"><i class="fas fa-sign-out-alt logoutIcon"></i>Logout</button>
  </mat-toolbar-row>

  <mat-toolbar-row class="user-toolbar-row">
    <div class="imageDiv">
      <img class="imageCircle" src="http://placehold.it/50x50">
    </div>
    <p class="profile-name">{{userName.data.FullName}}</p>
    <p class="user-text">This is a User</p>
  </mat-toolbar-row>
</mat-toolbar>
