.toolbar-heading {
  cursor: pointer;
  color: #7b1fa2;
  font-weight: bold;
  font-size: 26px;
}

.spacer {
    flex: 1 1 auto;
}

.logoutIcon {
    font-size: 16px;
}

.logoutBtn {
    font-size: 15px;
    font-weight: bold;
    background-color: #7b1fa2;
    color: white;
}

.user-toolbar-row {
    height: 200px;
    text-align: center;
    padding: 20px 0 0 0;
    display: inline-block;
}

.imageCircle {
    width: 100px;
    border-radius: 50%;
}

.profile-name {
    font-size: 30px;
    font-weight: bold;
    color: #7b1fa2;
    margin: 0;
}

.user-text {
    margin: 0;
}

.notification-btns-div {
  margin: 0 15px 5px 0;
}

.notification-icon-btn {
  line-height: 32px !important;
}

.notificationIcon {
  font-size: 26px;
  color: #7b1fa2;
}

.notificationIcon:hover {
  color: tomato;
}

.notificationNumber {
  background: red;
  border-radius: 50%;
  padding: 2px;
  color: white;
  font-weight: bold;
  font-size: 11px;
  vertical-align: text-bottom !important;
  margin: -6px !important;
}

.image-avatar {
   border-radius: 50%;
  float: left;
}

.messageUnRead {
  float: left;
  margin: -9px 0 0 7px;
  font-size: 14px;
  font-weight: bold;
  color: #7b1fa2;
  word-wrap: break-word !important;
  width: 80%;
  text-align: justify;
}

.messageRead {
  display: block;
  margin: -9px 0 0 7px;
  font-size: 14px;
  color: #7b1fa2;
  word-wrap: break-word !important;
  text-align: justify;
}

.date-heading {
  display: block;
  margin: -79px 0 0 0;
  font-size: 12px;
  font-style: italic;
}

::ng-deep .mat-menu-panel {
  padding: 0 10px!important;
  width: 100%!important;
  max-width: 100%!important;
}

::ng-deep .cdk-overlay-pane {
  width: 32%!important;
}

.mat-menu-btn {
  height: 52px !important;
  padding: 0 !important;
  margin: 10px 0 0 0;
}

.btn-markAllAsRead {
  float: right;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 9px 0;
  background: #7b1fa2;
}

.msg-userName-p {
  display: block;
  margin: -9px 0 0 56px;
  font-size: 14px;
  color: #7b1fa2;
  font-weight: bold;
  width: 25%;
}

.msg-date-heading {
  float: right;
  margin: -48px 6px 0 0;
  color: #7b1fa2;
  font-style: italic;

}

.msg-userMsg-p {
  margin: -28px 0 0 56px;
  font-size: 14px;
  color: grey;
  word-wrap: break-word !important;
  word-break: break-all !important;
  text-align: justify;
}

.msg-status-icon {
  float: right;
  margin: -34px 3px 0 0;
  color: blue;
}

.msgNotificationNumber {
  background: red;
  border-radius: 50%;
  padding: 2px;
  color: white;
  font-weight: bold;
  font-size: 11px;
  vertical-align: text-bottom !important;
  margin: -2px !important;
}
