.side-component-div {
    float: left;
    width: 30%;
}

.post-component-div {
    display: inline-block;
    width: 70%;
    margin: 38px 0 0 0;
}

::ng-deep .mat-tab-label {
  width: 55%;
  font-size: 18px;
  background: #7b1fa2;
  color: white;
  font-weight: bold;
  margin: 0 1px 0 0;
}
