<div class="top-header">
        <div class='sub-div'>
            <a class="top-header-anchor" href="#">
                <span class="top-header-span">Posts</span>
                <p class="top-header-para">10</p>
            </a>
        </div>

        <div class='sub-div'>
                <a class="top-header-anchor" href="#">
                    <span class="top-header-span">Following</span>
                    <p class="top-header-para">12</p>
                </a>
            </div>

        <div class='sub-div'>
            <a class="top-header-anchor" href="#">
                <span class="top-header-span">Followers</span>
                <p class="top-header-para">10</p>
            </a>
        </div>
    </div>

<!-- <mat-grid-list cols="4" rowHeight="3:4">
    <mat-grid-tile> -->
        <mat-list class="myList">
            <!-- <h4 mat-subheader>First Names</h4> -->

            <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/streams']" class="anchor-sidebar">
                  <div mat-line>
                    <p class="listItemName">Streams</p>
                    <button mat-button class="sendBtn"><i class="material-icons for-font-class">announcement</i></button>
                  </div>
                </a>
            </mat-list-item>

            <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['/people']" class="anchor-sidebar">
                <div mat-line>
                  <p class="listItemName">People</p>
                  <button mat-button class="sendBtn"><i class="material-icons for-font-class">people</i></button>
                </div>
              </a>
                </mat-list-item>

                <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                  <a [routerLink]="['/people', 'following']" class="anchor-sidebar">
                    <div mat-line>
                      <p class="listItemName">Following</p>
                      <button mat-button class="sendBtn"><i class="material-icons for-font-class">person</i></button>
                    </div>
                  </a>
                </mat-list-item>

                    <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                      <a [routerLink]="['/people', 'followers']" class="anchor-sidebar">
                        <div mat-line>
                          <p class="listItemName">Followers</p>
                          <button mat-button class="sendBtn"><i class="material-icons for-font-class">person_outline</i></button>
                        </div>
                      </a>
                        </mat-list-item>

                        <mat-list-item>
                                <div mat-line>
                                    <p class="listItemName">Photos</p>
                                    <button mat-button class="sendBtn"><i class="material-icons for-font-class">photo_library</i></button>
                                </div>
                            </mat-list-item>

                            <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                              <a [routerLink]="['/notifications']" class="anchor-sidebar">
                                <div mat-line>
                                  <p class="listItemName">Notifications</p>
                                  <button mat-button class="sendBtn"><i class="material-icons for-font-class">alarm</i></button>
                                </div>
                              </a>
                                </mat-list-item>

          </mat-list>
    <!-- </mat-grid-tile>
  </mat-grid-list> -->


